.figma-bar {
  --padding-block: 24px;
  --padding-inline: 16px;
  --padding: 24px 16px;
  --border: 1px solid var(--color-grey-200);
  --hover-background-color: var(--color-grey-100);
  --active-background-color: var(--color-blue);
  --active-color: var(--color-black);

  position: sticky;
  top: 0;
  bottom: 0;
  border-right: var(--border);

  & > div {
    position: sticky;
    top: 0;
    bottom: 0;
  }

  header {
    padding-block: var(--padding-block);
    padding-inline: var(--padding-inline);
    border-bottom: var(--border);

    .froggy-container {
      position: relative;
      display: flex;
      align-items: center;
      max-width: fit-content;
    }

    .froggy-container .chat-bubble {
      position: absolute;
      top: 50%;
      right: -1em;
      transform: translate(100%, -50%);

      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 50%;
      //   left: 0;
      //   width: 12px;
      //   aspect-ratio: 1;
      //   border-radius: 2px;
      //   transform: translate(-50%, -50%) rotate(45deg);
      //   box-shadow: var(--bs-default);
      //   z-index: -1;
      //   background-color: white;
      // }

      .message {
        padding: 0.25em 2em;
        border-radius: 10px;
        color: var(--color-froggy);
        background-color: white;
        border: 0.5px solid var(--color-froggy);
      }
    }

    button {
      padding: 0;
      border: transparent;
      background: transparent;
    }

    .froggy {
      cursor: pointer;
      filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 15%));
    }
  }

  .title {
    margin-top: var(--padding-block);
    font-size: 1.125em;
  }

  .layers {
    padding: var(--padding-block) var(--padding-inline);
  }

  #layers-title {
    margin-bottom: calc(var(--padding-block) / 2);
    font-size: 1em;
  }

  .list-heading {
    margin-bottom: calc(var(--padding-block) / 3);
    color: var(--color-active);
  }

  li {
    position: relative;
    padding: 2px;

    &:not(.list-heading) {
      margin-bottom: calc(var(--padding-block) / 6);
      color: var(--color-text-light);
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      border-radius: 4px;
    }

    &:hover::before {
      background-color: var(--hover-background-color);
    }

    &[data-active] {
      color: var(--color-active);
    }

    &[data-active]::before {
      background-color: var(--active-background-color);
    }
  }

  li a {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 4px;
  }

  .padding-left {
    padding-left: var(--padding-inline);
  }
}
