@use "../mixins" as mixins;
@use "../queries" as queries;

.sidebar-button {
  @include mixins.button-reset;
  cursor: pointer;
  color: var(--color-black);

  &:hover {
    color: var(--color-black-800);
  }

  svg {
    pointer-events: none;
  }
}

#figma-bar--full,
#figma-bar--slim {
  --padding-block: 24px;
  --padding-inline: 16px;
  --padding: 24px 16px;
  --border: 1px solid var(--color-grey-200);
  --hover-background-color: var(--color-grey-100);
  --active-background-color: var(--color-blue);
  --active-color: var(--color-black);

  .froggy-icon svg {
    min-width: 22px;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 15%));
  }

  .sidebar-icon svg {
    min-width: 16px;
  }

  .title {
    font-size: 1em;
    white-space: nowrap;
  }

  &.hide {
    transform: translateX(-100%);
  }
}

// Translate the side panel collapse with grid-columns!! :)
body:has(#figma-bar--full.hide) {
  grid-template-columns: 0 auto;
}

#figma-bar--full {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 300px;
  border-right: var(--border);
  background-color: white;
  z-index: 99;
  transition: var(--transition-default);

  @media (min-width: queries.$mq-xl) {
    position: sticky;
  }

  & > div {
    position: sticky;
    top: 0;
    bottom: 0;
  }

  header {
    padding-block: var(--padding-block);
    padding-inline: var(--padding-inline);
    border-bottom: var(--border);
  }

  header > div {
    display: flex;
    justify-content: space-between;
  }

  .title {
    margin-top: var(--padding-block);
  }

  .layers {
    padding: var(--padding-block) var(--padding-inline);
  }

  #layers-title {
    margin-bottom: calc(var(--padding-block) / 2);
    font-size: 1em;
    white-space: nowrap;
  }

  .list-heading {
    margin-bottom: calc(var(--padding-block) / 6);
    color: var(--color-active);
    white-space: nowrap;
  }

  li {
    position: relative;
    padding: 2px;

    &:not(.list-heading) {
      margin-bottom: calc(var(--padding-block) / 6);
      color: var(--color-text-light);
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      border-radius: 4px;
    }

    &:hover::before {
      background-color: var(--hover-background-color);
    }

    &[data-active] {
      color: var(--color-active);
    }

    &[data-active]::before {
      background-color: var(--active-background-color);
    }
  }

  li a {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 4px;
    white-space: nowrap;
  }

  li a svg {
    min-width: 14px;
  }

  .padding-left {
    padding-left: var(--padding-inline);
  }
}

#figma-bar--full.hide + #figma-bar--slim {
  display: flex;
  align-items: center;
  gap: 32px;
}

#figma-bar--slim {
  display: none;
  position: fixed;
  top: var(--padding-block);
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  padding: 12px 24px;
  border-radius: 16px;
  background-color: white;
  box-shadow: var(--bs-default);
  transition: var(--transition-default);

  @media (min-width: queries.$mq-xl) {
    left: var(--padding-inline);
    transform: translateX(0);
  }
}
