.pop-in {
  animation: pop-in 1000ms cubic-bezier(0.77, 0, 0.18, 1);
}

@keyframes pop-in {
  from {
    transform: translateY(10%);
  }

  to {
    transform: translateY(0);
  }
}

.bounce {
  animation: bounce 5000ms linear infinite;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(5%);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}
