---
import Froggy from "../../images/froggy.svg";
import SidebarIcon from "../../images/sidebar.svg";
---

<nav id="figma-bar--slim">
  <span class="froggy-icon"><Froggy /></span>
  <h2 class="title">My Portfolio 2025</h2>
  <button class="sidebar-button" aria-controls="figma-bar--full" aria-expanded="false">
    <span class="sidebar-icon"><SidebarIcon /></span>
  </button>
</nav>