---
---

<div id="hero-code-element" class="code-bubble">
  <div class="content">
    <header>
      <span>_header.scss</span>
    </header>

    <ul class="classes">
      <li class="class">.header</li>
      <ul class="properties">
        <li>font-family: var(--ff-main);</li>
        <li>font-size: 1.125em;</li>
        <li>line-height: 1.125;</li>
      </ul>
    </ul>
  </div>
</div>